name: Build

on:
    push:
        branches:
            - '**'
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'
            - 'v[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    pull_request:
        branches:
            - '**'

    workflow_call:
    workflow_dispatch:

jobs:

    build_dist:
        runs-on: ubuntu-latest

        steps:

            - name: Checkout
              uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version: 3.12

            - name: Build
              run: |
                python -m pip install build
                python -m build --outdir wheelhouse

            #- name: Check wheels
              #run: |
                    ## upgrade packaging for PEP 639
                    #python -m pip install packaging>=24.2 --upgrade
                    #python -m pip install twine --upgrade
                    #python -m twine check --strict wheelhouse/*

            - uses: actions/upload-artifact@v5
              with:
                name: pmxterm-${{ github.sha }}
                path: wheelhouse
