name: Release

on:

    workflow_dispatch:
      inputs:
        draft:
          description: 'Set as a draft'
          required: true
          type: boolean
          default: true
        prerelease:
          description: 'Set as a pre-release'
          required: true
          type: boolean
          default: true

jobs:

    build:
      uses: ./.github/workflows/build.yml

    release:
        runs-on: ubuntu-latest
        needs: build

        steps:

            - name: Checkout
              uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - uses: actions/download-artifact@v5
              with:
                name: pmxterm-${{ github.sha }}
                path: wheelhouse

            - name: Gettag
              run: |
                  ver=$(ls wheelhouse/*.whl | grep -oE '[0-9]+(.[0-9]+)*' | head -n1)
                  echo "RELEASE_TAG=$ver" >> $GITHUB_ENV

            - uses: ncipollo/release-action@v1.20.0
              with:
                allowUpdates: false
                artifacts: "wheelhouse/*"
                artifactErrorsFailBuild: true
                token: ${{ secrets.GITHUB_TOKEN }}
                draft: ${{ inputs.draft }}
                prerelease: ${{ inputs.prerelease }}
                tag: ${{ env.RELEASE_TAG }}
